<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.like.dao.LikeDAO">
 	<insert id="insertLike" parameterType="map">
 		INSERT INTO `like`
 		(
			`userId`
			,`postId`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{postId}
 			, NOW()
 		)
 	</insert>
 	
 	<select id="existLikeByUserIdPostId" parameterType="map" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`like`
 		WHERE
 			`userId` = #{userId}
 			AND
 			`postId` = #{postId}
 	</select>
 	
 	<delete id="deleteLikeByUserIdPostId" parameterType="map">
 		DELETE
 		FROM
 			`like`
 		WHERE
 			`userId` = #{userId}
 		AND
 			`postId` = #{postId}
 	</delete>
 	
 	<delete id="deleteLikeByPostId" parameterType="int">
 		DELETE
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 	</delete>
 	
 	<select id="selectLikeListByPostId" parameterType="int" resultType="com.sns.like.model.Like">
 		SELECT
 			`userId`
 			, `postId`
 			, `createdAt`
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 	</select>
 	
 	<!-- 선생님코드 - 비슷한 구문 합치는 쿼리-->
 	<select id="selectLikeCountByPostIdOrUserId" parameterType="int" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 			<if test="userId != null"> <!-- mybatis의 DTD가 제공해주는 함수 -->
 			AND
 			`userId` = #{userId}
 			</if>
 	</select>
 	
 	
 	<!-- 선생님 코드 -->
 	<!-- <select id="selectLikeCountByPostId" parameterType="int" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 	</select> -->
 </mapper>